body{
    width: 100%;
    margin: 0 auto;
    background-color: #EEEEEE;
}

.bg-red{
    background-color: red;
}
.bg-yellow{
    background-color: yellow;
}
.bg-green{
    background-color: green;
}
.bg-blue{
    background-color: #2aabd2;
}
.bg-pink{
    background-color: hotpink;
}

.txt-grey{
    color: #555555;
}

header{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #555555;
    color: white;
    height: 50px;
}

.mail{
    /*padding-left: 4%;*/
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header img{
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.reseaux{
    float: right;
    padding-right: 50px;
}

.reseaux a{
    border-left: 1px solid #eeeeee;
}

.maison{
    width: 56px;
    height: 56px;
    background-color: #FF5C01;
}

.maison img{
    padding-top: 15px;
    padding-left: 15px;
}
.imageslider {
    width: 100%;
}

.img4{
    width: 320px;
}

.img4 img{
    width: 100%;
}

.img4-text{
    width: auto;
    height: 30%;
    padding-top: 5%;
    margin-top: -5%;
    background-color: white;
}

.img4-text h6{
    color: #FF5C01;
    text-transform: uppercase;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 25%;
}

.carre_triangle img{
    /*width: 50px;*/
    /*height: 50px;*/
    /*margin-top: 100px;*/
    /*margin-left: 100px;*/

}

.img-carre > .carre_triangle{
    /*width: 50px;*/
    /*height: 50px;*/
    /*margin-top: 100px;*/
    /*vertical-align: top;*/
}

.respons, .custom, .fresh{
    background-color: white;
}

.respons p, .fresh p{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
}

.custom, .respons, .fresh{
    margin: 0;
    height: 100%;
}

.custom-h{
    width: 100%;
    padding-top: 5%;
}

.custom-h h6, .respons-h h6, .fresh-h h6{
    margin-left: 25%;
}


.respons-h, .fresh-h{
    width: 100%;
    padding-top: 10%;
}

.respons-p, .fresh-p{
    margin-bottom: 5%;
}

.custom-p{
    margin-bottom: 3%;
}

.custom p{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: justify;
}

.souligne-custom{
    width: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-top: 1px solid #555555;
}

.souligne-respons, .souligne-fresh{
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-top: 1px solid #555555;
}

.read-more{
    color: #FF5C01;
    font-style: italic;
    margin-left: 40%;
}

.welcome{
    color: #FF5C01;
}

.bouton{
    background-color: #FF5C01;
    border: none;
    border-radius: 0px;
}

.positbouton{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.welcome::before{
    content: url("../img/puce_orange.png");
    margin-right: 15px;
}

/*.bordwelcome::after{*/
    /*content: url("../img/puce_orange.png");*/
    /*!*margin-bottom: 50px;*!*/
/*}*/

.bordwelcome{
    background-color: white;
    border-left: 3px solid #FF5C01;
    margin-left: auto;
    margin-right: auto;
}

.alignwelcome p{
    margin-left: 30px;
}

.latest{
    background-color: white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.latest-text{
    color: #555555;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom:auto;
}

.latest-img{
    padding: 0;
}

.latest-img img{
    float: right;
}

footer{
    width: 100%;
    background-color: #555555;
    color: white;
}

.foot{
    margin-top: 5%;
}

.foot h6{
    text-transform: uppercase;
}

.foot span{
    padding-left: 2%;
    padding-top: 1%;
}

.foot-contact{
    margin-top: 1%;
    padding-left:1%;
}

.foot-post{
    margin-top: 1%;
}

.foot-tweet{
    margin-top: 1%;
}

.foot-imgs{
    padding-top: 1%;
}

.foot-post img{
    border: 3px solid #777777;
    margin: 2%;
}

.souligne-foot{
    width: 15%;
    margin-top: 2%;
    border-top: 1px solid #ffffff;
}