.marlene{
  width:100%;
    div{
      width: 100%;
      background-color: $primary-color;
    }
}
.titi{
  width: 100%;
  background-color: #00adb3;
}

%message {
  padding: .5em;
  margin-bottom: .5em;
  border-radius: .15em;
  border: 1px solid;
}
@mixin message($color) {
  @extend %message;
  color: $color;
  border-color: lighten($color, 20%);
  background: lighten($color, 40%);
}

.message-error {
  @include message(red);
}

.message-valid {
  @include message(#00c200);
}

.message-warning {
  @include message(#fff91a);
}

.message-info {
  @include message(blue);
}

